@import url('ColorPalette.css');

@font-face {
  font-family: 'Pretendard';
  src: local('Pretendard'), url('../assets/fonts/PretendardVariable.woff2') format('woff2');
}

* {
  outline: none;

  -webkit-tap-highlight-color: transparent !important;
}

body {
  --body-bg: #fff;
  --body-color: #000;
  --body-maxWidth: 1024px;
  --navbar-border: #cbd5e0;
  --navbar-link-color: #777;
  --navbar-link-hover-bg: #f2f6ff;
  --navbar-link-hover-color: #000;
  --navbar-offcanvas-boxShadow: -1px 0 6px #888888;
  --section-bg: #fff; /*#f8fafc;*/
  --postlist-date-color: #666;
  --postlist-title-hover-color: #2563eb;
  --postlist-excerpt-color: #444;
  --postlist-tag-bg: #e6eaf0;
  --postlist-tag-hover-border: #555;
  --postlist-tag-hover-color: #001ec7;
  --post-tag-color: #999;
  --post-tag-hover-color: #043aff;
  --post-banner-maxWidth: 512px;
}

body {
  margin: 0;

  background-color: var(--body-bg);

  color: var(--body-color);
  font-family: 'Pretendard';
  font-weight: 400;
  font-size: 16px;
}
