@font-face {
  font-family: 'Pretendard';
  src: local('Pretendard'), url('../assets/fonts/PretendardVariable.woff2') format('woff2');
}

* {
  outline: none;

  -webkit-tap-highlight-color: transparent !important;
}

body {
  --body-bg: #fff;
  --body-maxWidth: 1024px;
  --navbar-border: #cbd5e0;
  --navbar-link-color: #777;
  --navbar-link-hover-bg: #f2f6ff;
  --navbar-link-hover-color: #000;
  --navbar-offcanvas-boxShadow: -1px 0 6px #888888;
  --section-bg: #f8fafc;
  --postlist-date-color: #666;
  --postlist-title-hover-color: #2563eb;
  --postlist-excerpt-color: #444;
  --tag-bg: #e6eaf0;
}

body {
  margin: 0;

  background-color: var(--body-bg);

  font-family: 'Pretendard';
  font-weight: 400;
  font-size: 16px;
}
