@font-face {
  font-family: 'Pretendard';
  src: local('Pretendard'), url('../assets/fonts/PretendardVariable.woff2') format('woff2');
}

* {
  outline: none;

  -webkit-tap-highlight-color: transparent !important;
}

body {
  margin: 0;

  font-family: 'Pretendard';
  font-weight: 400;
  font-size: 16px;
}

body {
  --navbar-link-color: #505050;
  --navbar-link-hover-color: #000;
}
